---
layout: default
title: Bierkraft - Beer, Cheese, Chocolate, Charcuterie and more in Brooklyn
---
<body>
	{% include header.html %}
	<section class="hero">
		<div class="hero-content">
			<h1>Beer, Cheese, Chocolate, Charcuterie and More.</h1>
			<p>Our stock of more than 1,000 different beers rotates seasonally. With a large selection of beer in combination with a varied selection of food and snacks, Bierkraft is the destination for beer drinkers and food enthusiasts alike.</p>
		</div>
	</section>
	
	<section class="content">
		<article>
			<h4>Bierkraft is located in Park Slope, Brooklyn. We pride ourselves in our ability to bring high-quality beer, cheeses, and meats from around the globe to you.</h4>
			<p>Every weekend we offer a sandwich special that showcases seasonal ingredients and the creativity of the kitchen staff. And if you’re not in the mood to sit down and drink a beer, you can always wash down your meal with one of our many non-alcoholic beverages.</p>
			<p>For those with a sweet tooth, we offer various chocolates, cookies, brownies and ice cream sandwiches, all of which were made at least in New York, if not in-house.</p>
			<p>We’re also proud to host weekly beer tastings on Tuesdays at 7pm, and draught and cask takeovers by local breweries. We aim to offer a variety of beers that aren’t available in bottles, and we encourage those with an adventurous palate to try beers that they may not be able to find in most establishments.</p>
		</article>
	</section>
	
	<section class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x89c25baa8aa612a1%3A0xab25a34b60a47423!2sbierkraft!5e0!3m2!1sen!2sus!4v1388435537687" width="100%" height="275" frameborder="0" style="border:0"></iframe>
	</section>
	{% include footer.html %}
</body>