<footer>
	<section class="visit-us">Come visit us today!</section>
	<div class="footer-wrapper">
		<section class="footer-info">
			<h3>Bierkraft, Inc.</h3>
			<p>
				191 5th Ave<br/>
				Brooklyn, NY 11217<br/>
				(718) 230-7600<br/>
				<a href="#">sales(at)bierkraft.com</a><br/>
				<a href="#">@bierkraft</a>
			</p>

			<h3>Hours</h3>
			<p>
				Monday-Saturday: 12pm-11pm<br/>
				Sunday: 12pm-8pm
			</p>
			
			<h3>Order Online</h3>
			<p>
				<strong><a href="">Delivery.com</a></strong><br/>
				<strong><a href="">GrubHub</a></strong><br/>
				<strong><a href="">Seamless</a></strong>
			</p>
		</section>

		<section class="footer-policy">
			<h3>Bierkraft Policy</h3>
			<p>You must be at least 21 years old to order beer.</p>
			<p>We require a signature for all deliveries and will verify age at our discretion.</p>
			<p>If some part of your order is temporarily out of stock, we will get in touch with you by phone and/or email to arrange for substitution.</p>
			<p>Your patience is appreciated, as every sandwich is made fresh.</p>

			<section class="footer-credits">
				<h3>Credits</h3>
				<p>Website design by <a href="http://www.cattsmall.com">Catt Small</a>.</p>
				<p>Photography by <a href="#">Lenford Wickham</a>.</p>
			</section>
		</section>
	</div>
</footer>