---
layout: default
title: Bierkraft - About, Press &amp; Contact information
active: about
---
<body class="body-about">
	{% include header.html %}
	<section class="hero">
		<div class="hero-content">
			<h1>Bierkraft is located in Park Slope, Brooklyn.</h1>
			<p>This small business was founded in November of 2001 by long-time residents who love beer and cheese.</p>
		</div>
	</section>
	
	<section class="content about">
		<article>
			<section class="address">
				<h2>Bierkraft, Inc.</h2>
				<iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x89c25baa8aa612a1%3A0xab25a34b60a47423!2sbierkraft!5e0!3m2!1sen!2sus!4v1388435537687" width="60%" height="275" frameborder="0" style="border:0"></iframe>
				
				<h3>Address</h3>
				<p>191 5th Ave<br>
				Brooklyn, NY 11217</p>
				<p>(718) 230-7600<br>
				<a>sales(at)bierkraft.com</a></p>

				<h3>Hours</h3>
				<p>Monday-Saturday: 12pm-11pm<br>
				Sunday: 12pm-8pm</p>
			</section>
			
			<section class="article-section">
				<h4>Our stock of more than 1,000 different beers, curated by our cellar manager Matt Barkley, rotates seasonally, and varied selection of food and snacks, makes us the destination for serious and novice beer drinkers and food enthusiasts alike.</h4>
				<p>In addition to the enormous selection of domestic and imported bottled beer stock, we also offer 14 draught lines and two cask lines. These lines can be used to either fill a pint, or your very own growler that you can take home and enjoy at your leisure.</p>
				<p>Dating back to before the dark ages of Prohibition, growlers were originally metal buckets with lids that periodically ‘growled’ as carbonation escaped through the seal. Our modern growlers are made of glass and can withstand being counter-pressure filled (a procedure done by the growler machine designed by our very own Benjamin Granger). This technique allows the beer to remain fresh in an unopened growler for up to three months. The only catch is the growler must be sealed with a pressurized screw-on cap that can be purchased in the store.</p>
				<p>The elegantly rustic food is prepared by our talented kitchen staff. You can order yourself a suggested sandwich, or build your own. All of our meats are well-sourced and many of them are prepared in house, along with a wide variety of rotating condiments. And if you’re not in the mood for a sandwich, we have rotating meat boards and cheese boards as well as a variety of dishes and snacks that are gluten-free or Paleolithic diet-friendly.</p>
				<p>Every weekend we offer a sandwich special that showcases seasonal ingredients and the creativity of the kitchen staff. And due to popular demand, our Meatball Sub is now offered the last weekend of every month.</p>
				<p>And if you’re not in the mood to sit down and drink a beer, you can always wash down your meal with one of our many non-alcoholic beverages.</p>
				<p>For those with a sweet tooth, we offer various chocolates, cookies, brownies and ice cream sandwiches, all of which were made at least in New York, if not in house.</p>
				<p>We’re also proud to host weekly beer tastings, and draught and cask takeovers by local breweries. We aim to offer a variety of beers that aren’t available in bottles, and we encourage those with an adventurous palate to try beers that they may not be able to find in most establishments.</p>
			</section>
			
			<section class="article-section">
				<h2>Press</h2>
				<p>Our highly-rated food has been featured in multiple publications. Interested in highlighting Bierkraft in your magazine or blog? Contact us at <a>sales(at)bierkraft.com</a>.</p>
				<p>
					<strong>O Magazine, July 2012 issue</strong> 
					<a href="http://www.oprah.com/food/Ice-Cream-Ideas-Ice-Cream-Recipes/3#ixzz20zuxskRc">"Delightful Icy Treats for the Hottest Days of Summer"</a>
				</p>
			</section>
			
		</article>
	</section>
	{% include footer.html %}
</body>