---
layout: default
title: Bierkraft - Menu
active: menu
---
<body class="body-menu">
	{% include header.html %}
	<section class="hero">
		<div class="hero-content">
			<h1>Ferociously delicious sandwiches.</h1>
			<p>Made fresh to order, never premade. No additives except love!</p>
		</div>
	</section>
	
	<section class="content menu">
		<article>
			<h2>Sandwich Menu</h2>
			<p>We offer online ordering on <a>Delivery.com</a>, <a>GrubHub</a>, and <a>Seamless</a>! You can choose from our suggested sandwich or build your own - we have many ingredients that you can choose from. Every sandwich comes with potato chips or your choice of fruit.</p>
			
			<section class="article-section">
				<dl>
					<dt>Turkey</dt>
					<dd>House-roasted organic light and dark meat turkey and istara cheese with arugula, tomato, housemade mayonnaise, salt and pepper.</dd>

					<dt>Italian</dt>
					<dd>House-roasted ham, petit jesu, capicola, prosciutto di parma and pecorino sardo cheese with arugula, tomato, onion, roasted pepper, extra virgin olive oil and balsamic vinegar.</dd>

					<dt>Serrano</dt>
					<dd>Serrano ham and manchego cheese with fig spread, arugula, extra virgin olive oil and sherry vinegar.</dd>
					<dt>Vegetarian</dt>
					<dd>House-roasted and marinated eggplant, mozzarella di bufala, housemade basil marcona almond pesto, black oil cured olives, arugula and housemade hot pepper relish.</dd>
				</dl>
				<dl>
					<dt>Roast Beef</dt>
					<dd>House-roasted wagyu beef and aged american cheese with arugula, tomato, onion, housemade horseradish and mayonnaise.</dd>

					<dt>Ham &amp; Cheese</dt>
					<dd>Applewood smoked niman ham and cave-aged gruyere with arugula, tomato, onion, cornichons and spicy dijon mustard.</dd>

					<dt>Pastrami Spiced Brisket</dt>
					<dd>Housemade pastrami spiced brisket and leyden cheese with housemade sauerkraut, arugula, tomato, onion and a housemade grainy mustard.</dd>
					<dt>Bratwurst</dt>
					<dd>Housemade heritage pork bratwurst with housemade sauerkraut and housemade grainy mustard on a pretzel roll.</dd>
				</dl>				
			</section>
			<section class="article-section">
				<a class="btn">Order from Delivery.com</a>
				<a class="btn">Order from GrubHub</a>
				<a class="btn">Order from Seamless</a>				
			</section>	
		</article>
	</section>
	{% include footer.html %}
</body>